*, *::after, *::before {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;

}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(7, 160, 187) ,rgb(2, 99, 102));
    
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);

}


.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color:wheat ;

}

.calculator-grid > button:hover{
    background-color:rgb(243, 239, 231);


}

.span-two{
    grid-column: span 2 ;
}

.output{
    background-color: rgba(0,0,0, .75);
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}


.previous-operand{ 
    color: white;
    font-size: 1.5rem;
}

.current-operand{
    color: white;
    font-size: 1.5rem;
}